@import 'colors';

$navbar-background-color: $blue;
$navbar-link-color: $white;
$navbar-link-hover-color: $very-dark-blue;

$case-study-heading-color: $dark-blue;
$case-study-details-color: $very-dark-blue;

$project-card-border-color: $light-blue;
$project-card-details-color: $light-blue;
$project-card-link-color: $very-dark-blue;
$project-card-name-color: $white;

$sister-site-button-color: $light-green;

$contact-heading-color: $blue;
