.contact {
  padding: 115px 0 130px;

  &__text {
    @extend %bold-sub-headline;

    color: $contact-heading-color;
    line-height: 1.2;
  }

  &__cta-button-holder {
    text-align: center;
    vertical-align: middle;
  }

  &__cta-button {
    background-color: transparent;
    border: solid 3px $very-dark-blue;
    border-radius: 5px;
    color: $very-dark-blue;
    font-size: 20px;
    font-weight: $bold;
    letter-spacing: .4px;
    padding: 15px 37.5px;

    &:focus,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
