.mission {
  background-size: 100% 100%;
  box-sizing: border-box;
  margin-top: -12vh;
  padding-bottom: 200px;
  padding-top: calc(12vh + 160px);

  &__wrapper {
    position: relative;
  }

  &__text {
    border: solid 5px $light-blue;
    border-radius: 5px;
    color: $white;
    font-size: 27.5px;
    font-weight: $medium;
    margin: auto;
    max-width: 640px;
    padding: 47.5px 62.5px;
    text-align: center;
    width: 50%;
  }

  %line {
    background-color: $light-blue;
    height: 5px;
    min-width: calc(50% - 320px);
    position: absolute;
    top: calc(50% - 2.5px);
    width: 25%;
  }

  &__line--left {
    @extend %line;
  }

  &__line--right {
    @extend %line;
    right: 0;
  }
}
