$navbar-height: 44px;
$button-border-width: 2px;
$navbar-shadow-color: rgba(0, 0, 0, .2);

.navbar {
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  font-size: 15px;
  font-weight: bold;
  left: 0;
  letter-spacing: .3px;
  margin: 30px 0 0;
  min-height: $navbar-height + 2px;
  padding: 1px 75px;
  position: fixed;
  right: 0;
  transition:
    background-color .5s ease-in-out,
    box-shadow .5s ease-in-out,
    margin .5s ease-in-out,
    padding .5s ease-in-out;
  z-index: 1000;

  li {
    height: $navbar-height;

    &:not(:first-child) {
      margin-left: 60px;
    }

    &:not(:last-child) {
      margin-right: 60px;
    }

    > a {
      color: $navbar-link-color !important;
      height: 100%;
      line-height: $navbar-height;
      padding: 0 !important;
    }

    > a:hover {
      color: $navbar-link-hover-color !important;
    }

    > a:active {
      color: $navbar-link-hover-color !important;
    }
  }

  &__logo {
    img {
      width: 50px;
    }
  }

  &__contact-link {
    border: solid $button-border-width transparent;
    border-radius: 5px;
    transition:
      border .5s ease-in-out,
      line-height .5s ease-in-out,
      padding .5s ease-in-out;
  }

  &.affix-top {
    .navbar__contact-link {
      border-color: $navbar-link-color;
      line-height: $navbar-height - $button-border-width;
      padding: 0 27.5px !important;

      &:focus,
      &:hover {
        color: $navbar-link-color !important;
      }
    }
  }

  &.affix {
    background-color: transparentize($navbar-background-color, .05);
    box-shadow: 0 5px 20px $navbar-shadow-color;
    margin: 0;
  }
}
