$navbar-height: 44px;
$button-border-width: 2px;
$navbar-shadow-color: rgba(0, 0, 0, .2);

.navbar {
  &.affix-top {
    .navbar__contact-link {
      border-color: $navbar-link-color;
      line-height: $navbar-height - $button-border-width;
      padding: 0 27.5px !important;

      &:focus,
      &:hover {
        color: $navbar-link-color !important;
      }
    }
  }

  &.affix {
    background-color: transparentize($navbar-background-color, .05);
    box-shadow: 0 5px 20px $navbar-shadow-color;
    margin: 0;
  }
}
