.work {
  background-size: 100% 100%;
  margin-top: -70px;
  padding: 120px 0 140px;
  position: relative;
  z-index: 1;

  &__headline {
    @extend %bold-sub-headline;

    color: $white;
    margin-bottom: 72.5px;
  }

  &__sister-site-button-holder {
    padding-top: 40px;
    text-align: center;
  }

  &__sister-site-button {
    background-color: transparent;
    border: solid 3px $sister-site-button-color;
    border-radius: 5px;
    color: $sister-site-button-color;
    font-size: 20px;
    font-weight: $bold;
    letter-spacing: .4px;
    padding: 15px 38px;
    text-transform: lowercase;

    &:focus,
    &:hover {
      color: $sister-site-button-color;
      text-decoration: none;
    }
  }
}
