@import 'colors';

$navbar-background-color: $light-blue;
$navbar-link-color: $dark-purple;
$navbar-link-hover-color: $white;

$case-study-heading-color: $light-blue;
$case-study-details-color: $white;

$project-card-border-color: $light-blue;
$project-card-details-color: $white;
$project-card-link-color: $light-blue;
$project-card-name-color: $light-blue;

$sister-site-button-color: $tangerine;

$contact-heading-color: $dark-purple;

@import 'shared';
