.navbar.affix-top .navbar__contact-link {
  border-color: #fff;
  line-height: 42px;
  padding: 0 27.5px !important; }
  .navbar.affix-top .navbar__contact-link:focus, .navbar.affix-top .navbar__contact-link:hover {
    color: #fff !important; }

.navbar.affix {
  background-color: rgba(0, 126, 229, 0.95);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  margin: 0; }

.project-card__img-holder {
  border: solid 5px #b2d8f7;
  border-radius: 50%;
  padding: 37.5px; }

.project-card__img {
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 225px; }

.project-card__description {
  padding-left: 42.5px; }

.project-card__name {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0 0 15px; }

.project-card__details {
  color: #b2d8f7;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .4px;
  margin: 0 0 16px; }

.project-card__link {
  color: #003561;
  font-size: 25px;
  font-weight: 700; }
