@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Medium.eot");
  src: url("../fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Medium.woff") format("woff"), url("../fonts/AvenirNext-Medium.ttf") format("truetype"), url("../fonts/AvenirNext-Medium.svg#Avenir Next Medium") format("svg");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Bold.eot");
  src: url("../fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold.ttf") format("truetype"), url("../fonts/AvenirNext-Bold.svg#Avenir Next") format("svg");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 800; }

body {
  font-family: 'Avenir Next', sans-serif; }

.why__headline, .case-study__headline, .work__headline, .contact__text {
  color: #007ee5;
  font-family: 'Gilroy', sans-serif;
  font-size: 62.5px;
  font-weight: 800;
  letter-spacing: 1.1px;
  line-height: 1;
  text-transform: lowercase; }

@media only screen and (min-width: 768px) {
  .is-table-row {
    display: table;
    width: 100%; }
    .is-table-row [class*="col-"] {
      display: table-cell;
      float: none;
      vertical-align: top; }
    .is-table-row .valign-middle {
      vertical-align: middle; } }

.navbar {
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  font-size: 15px;
  font-weight: bold;
  left: 0;
  letter-spacing: .3px;
  margin: 30px 0 0;
  min-height: 46px;
  padding: 1px 75px;
  position: fixed;
  right: 0;
  transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out, margin .5s ease-in-out, padding .5s ease-in-out;
  z-index: 1000; }
  .navbar li {
    height: 44px; }
    .navbar li:not(:first-child) {
      margin-left: 60px; }
    .navbar li:not(:last-child) {
      margin-right: 60px; }
    .navbar li > a {
      color: #183463 !important;
      height: 100%;
      line-height: 44px;
      padding: 0 !important; }
    .navbar li > a:hover {
      color: #fff !important; }
    .navbar li > a:active {
      color: #fff !important; }
  .navbar__logo img {
    width: 50px; }
  .navbar__contact-link {
    border: solid 2px transparent;
    border-radius: 5px;
    transition: border .5s ease-in-out, line-height .5s ease-in-out, padding .5s ease-in-out; }
  .navbar.affix-top .navbar__contact-link {
    border-color: #183463;
    line-height: 42px;
    padding: 0 27.5px !important; }
    .navbar.affix-top .navbar__contact-link:focus, .navbar.affix-top .navbar__contact-link:hover {
      color: #183463 !important; }
  .navbar.affix {
    background-color: rgba(178, 216, 247, 0.95);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    margin: 0; }

.hero {
  background-position: center;
  background-size: 100% 100%;
  display: table;
  height: 90vh;
  position: relative;
  width: 100%; }
  .hero__logo__container {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%; }
  .hero__logo__image {
    height: 25vh;
    max-width: 90vw; }

.mission {
  background-size: 100% 100%;
  box-sizing: border-box;
  margin-top: -12vh;
  padding-bottom: 200px;
  padding-top: calc(12vh + 160px); }
  .mission__wrapper {
    position: relative; }
  .mission__text {
    border: solid 5px #b2d8f7;
    border-radius: 5px;
    color: #fff;
    font-size: 27.5px;
    font-weight: 500;
    margin: auto;
    max-width: 640px;
    padding: 47.5px 62.5px;
    text-align: center;
    width: 50%; }
  .mission .mission__line--left, .mission .mission__line--right {
    background-color: #b2d8f7;
    height: 5px;
    min-width: calc(50% - 320px);
    position: absolute;
    top: calc(50% - 2.5px);
    width: 25%; }
  .mission__line--right {
    right: 0; }

.why {
  background-image: url("../images/why-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 125px 0; }
  .why__headline {
    margin-top: 0; }
  .why__blurb {
    color: #003561;
    font-size: 27.5px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 1.3em; }
  .why__value-prop .why__headline {
    margin-bottom: 60px; }
  .why__benefits {
    padding-top: 80px;
    text-align: right; }
    .why__benefits .why__headline {
      margin-bottom: 27.5px; }
  .why__benefit-list {
    color: #003561;
    font-family: 'Gilroy', sans-serif;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: .8px;
    list-style-type: none; }

.case-study {
  background-size: 100% 100%;
  padding: 140px 0;
  position: relative;
  z-index: 2; }
  .case-study__headline {
    color: #b2d8f7;
    margin: 0 0 60px; }
  .case-study__details {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .4px; }
    .case-study__details p {
      margin-bottom: 1.3em; }

.work {
  background-size: 100% 100%;
  margin-top: -70px;
  padding: 120px 0 140px;
  position: relative;
  z-index: 1; }
  .work__headline {
    color: #fff;
    margin-bottom: 72.5px; }
  .work__sister-site-button-holder {
    padding-top: 40px;
    text-align: center; }
  .work__sister-site-button {
    background-color: transparent;
    border: solid 3px #f8906f;
    border-radius: 5px;
    color: #f8906f;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .4px;
    padding: 15px 38px;
    text-transform: lowercase; }
    .work__sister-site-button:focus, .work__sister-site-button:hover {
      color: #f8906f;
      text-decoration: none; }

.team {
  background-size: 100% 100%;
  display: table;
  margin-top: -60px;
  padding: 150px 0;
  width: 100%; }
  .team .team-member {
    display: table-cell;
    width: 50%; }

.contact {
  padding: 115px 0 130px; }
  .contact__text {
    color: #183463;
    line-height: 1.2; }
  .contact__cta-button-holder {
    text-align: center;
    vertical-align: middle; }
  .contact__cta-button {
    background-color: transparent;
    border: solid 3px #003561;
    border-radius: 5px;
    color: #003561;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .4px;
    padding: 15px 37.5px; }
    .contact__cta-button:focus, .contact__cta-button:hover {
      color: inherit;
      text-decoration: none; }

.project-card {
  margin: 0 0 30px; }
  .project-card__img-holder {
    border: solid 5px #b2d8f7;
    border-radius: 50%;
    padding: 37.5px; }
  .project-card__img {
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 225px; }
  .project-card__description {
    padding-left: 42.5px; }
  .project-card--right .project-card__description {
    padding-left: 0;
    padding-right: 42.5px;
    text-align: right; }
  .project-card__name {
    color: #b2d8f7;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: .5px;
    margin: 0 0 15px; }
  .project-card__details {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .4px;
    margin: 0 0 16px; }
  .project-card__link {
    color: #b2d8f7;
    font-size: 25px;
    font-weight: 700; }

.team-member--megan {
  padding-right: 100px;
  text-align: right; }

.team-member--matt {
  padding-left: 100px;
  text-align: left; }
  .team-member--matt .team-member__horizontal-line {
    right: 0; }

.team-member__top {
  margin-bottom: 45px;
  position: relative; }

.team-member__horizontal-line {
  background-color: #b2d8f7;
  height: 5px;
  position: absolute;
  top: calc(50% - 2.5px);
  width: calc(100% - 235px); }

.team-member__img-holder {
  border: solid 5px #b2d8f7;
  border-radius: 50%;
  display: inline-block;
  padding: 37.5px; }

.team-member__img {
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 150px; }

.team-member__details {
  display: inline-block;
  text-align: left;
  width: 235px; }

.team-member__name {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0 0 5px; }

.team-member__description {
  color: #b2d8f7;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .4px;
  margin: 0; }

.bots .hero {
  background-image: url("/static/images/hero-background-bots.svg"); }

.bots .mission {
  background-image: url("/static/images/mission-background-bots.svg"); }

.bots .case-study {
  background-image: url("/static/images/case-study-background-bots.svg"); }

.bots .work {
  background-image: url("/static/images/work-background-bots.svg"); }

.bots .team {
  background-color: #b2d8f7;
  background-image: url("/static/images/team-background-bots.svg"); }

.bots .contact {
  background-color: #b2d8f7; }
